body {
  font-size: 12px;
  background-color:black;
}

h1 {
  color:white;
  text-decoration: underline;
  font-size:40px;
  font-family: arial;
  margin-left: 520px;

}

#adriana{
  position:relative;
  left:400px;
  border:9px solid rgb(255,255,255);

}

#info {
  background: rgb(260, 260, 276);
  color:black;
  width: 40%;
  height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 50px 10px 50px 150px;
  font-size: 20px;
  text-align:center;
  position:absolute;

}

#alien{
  position:absolute;
  left:700px;
  margin-top: 39em ;
  border:9px solid rgb(161, 37, 124);
  width: 22%;
}

#behance {
  color:grey;
  font-size:20px;
  text-align:center;
  margin-top:400px;

}

